.custom-logo
{
    width: 65% !important;
}

.special-link a {
    background-color: #eac33d;
    color: var(--white) !important;
    padding: 12px 30px !important;
}


.special-link a {
    background-color: #eac33d;
    color: var(--white) !important;
    padding: 10px 30px !important;
    border-radius: 5px;
}

.ltn__main-menu li > ul
{
    border-top: 5px solid #eac33d;
}

.ltn__main-menu li:hover > a
{
    color: #eac33d !important;
}

.ltn__slide-item-2 .slide-title span {
    color: #eac33d;
}

.theme-btn-1 {
    background-color: #eac33d;
    color: var(--white);
}

.ltn__breadcrumb-area {
    background-color: var(--section-bg-1);
    margin-bottom: 20px;
    padding-top: 40px;
    padding-bottom: 50px;
}

.contact-form-box {
    padding: 10px 50px 0px;
    position: relative;
    z-index: 1;
}

.select-control
{
    margin-bottom: 20px;
    width: 100%;
}

.hidden-large
{
    display: none !important;
}

.ltn__product-item-4
{
    border-radius: 20px !important;
    margin-bottom: 10px !important;
}

.listing-image
{
    width: 100%;
    height: 270px;
    padding: 5px;
    border-radius: 20px;
}

.ltn__product-item-4 .product-info {
    padding: 20px 20px 1px;
}

.ltn__product-item-4 .product-description p {
    font-size: 14px;
    margin-bottom: 0px;
}

.custom-home-lsbtn
{
    padding: 6px 20px;
    border-radius: 5px;
}

.btn-dark
{
    background: #222;
}

.ltn__list-item-2
{
    justify-content: space-around;
    display: flex;
}

.ltn__product-item-4 .product-title 
{
    margin-bottom: 5px;
}

.slick-dots
{
    display: none !important;
}

.product-price
{
    display: flex !important;
    justify-content: space-between !important;
}

.ltn__list-item-half li i 
{
    color: #3b3838 !important;
    background-color: #f3f5dc !important;
}

.about-image
{
    border-radius: 20px !important;
}


.custom-header-padding
{
    padding: 0px 120px !important;
}

.ltn__drop-menu > ul > li, .header-wishlist a {
    font-size: 16px !important;
}

.ltn__drop-menu > ul > li > a {   
    height: auto !important;
    line-height: 20px !important;
}

.ltn__header-sticky
{
    position: unset !important;
}

.property-detail-info-list ul
{
    padding: 10px 30px 20px !important;
}

.ltn__product-item-4 .product-info-bottom
{
    padding: 10px 30px 10px !important;
}

.listing-pricing
{
    color: #222;
    margin-right: 8px;
    font-size: 24px;
    font-weight: 700;
}

.listing-mrp
{
    text-decoration: line-through;
    font-size: 16px;
    color: #6d787d;
    margin-right: 8px;
}

.listing-discount
{
    font-size: 14px;
    font-weight: 600;
    color: #0e7a2c;
    line-height: 25px;
}

.nice-select
{
    display: none !important;
}

select
{
    display: block !important;
}

@media (max-width: 500px)
{
    .ltn__slide-item-3-normal 
    {
        padding-top: 40px;
    }

    .ltn__header-5 .ltn__header-middle-area {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .special-link
    {
        display: none !important;
    }

    .ltn__header-5 .ltn__header-options
    {
        justify-content: end !important;
    }

    .custom-logo {
        width: 100% !important;
    }

    .hidden-large
    {
        display: block !important;
    }

    .listing-image {
        width: 100% !important;
        height: 190px !important;        
    }

    [type="submit"].btn {
        padding: 12px 17px !important;
    }

    .ltn__product-item-4 .product-price {
        font-size: 15px;
    }

    .ltn__product-item-4 .product-info-bottom {
        padding: 0px 20px 10px;
    }

    .ltn__product-item-4 .real-estate-agent {
        margin-top: 10px;
    }

    .mobile-menu-toggle {
        margin-right: 15px !important;
        position: relative !important;
        top: 15px !important;
    }

    .header-logo-box
    {
        display: flex;
    }

    .custom-header-padding
    {
        padding: 0px 20px !important;
    }
}